<div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#erpAdminSubmenu">
                    ERP Admin <span class="float-end">93</span>
                </a>
                <div class="collapse submenu" id="erpAdminSubmenu">

                    <%= link_to 'Company Master', company_master_path,class:"nav-link"%>
                    <a href="#" class="nav-link">Project Master</a>
            </li>
            
             </div>
        </ul>
    </div>