
<div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#erpAdminSubmenu">
                    ERP Admin <span class="float-end">93</span>
                </a>
                <div class="collapse submenu" id="erpAdminSubmenu">
                    <a href="#" class="nav-link">master</a>
                    <a href="#" class="nav-link">test form</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Finance Setup</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Company Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Laxmi Test Fields</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Laxmi Test Fields 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Laxmi Test Form</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Legal Entity Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Project Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Sub Project Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Item Group Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Other Masters</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Location Details</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Chart of Account Groups</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Financial Locking</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Currency Master</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Currency Exchange Master</a>
            </li>
        </ul>
    </div>