<nav class="navbar">
        <div class="logo">LCESPLERP</div>
        <div class="menu-toggle">☰</div>
        <div class="nav-items">
            <div class="nav-item"><div class="icon"></div></div>
            <div class="nav-item"><div class="icon"></div></div>
            <div class="nav-item"><div class="icon"></div></div>
            <div class="nav-item"><div class="icon"></div></div>
            <div class="nav-item"><div class="icon"></div></div>
        </div>
        <div class="profile">
            <div class="profile-pic"></div>
            <div class="icon"></div>
        </div>
    </nav>