.navbar {
    background-color: #708090;
    padding: 0.5rem 1rem;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    color: white !important;
}
.nav-icon {
    color: white;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}